.message{data: {message: {id: message.id}}}
  .messages__date__posts
    .messages__date__posts__title
      = message.user.name
    .messages__date__posts__name
      = message.created_at.to_s
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
